{% extends 'base.html.twig' %}

{% block title %}MediaReview{% endblock %}

{% block body %}
    <h1>MediaReview</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ media_review.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ media_review.value }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ media_review.content }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ media_review.creationDate ? media_review.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_media_review_index') }}">back to list</a>

    <a href="{{ path('app_media_review_edit', {'id': media_review.id}) }}">edit</a>

    {{ include('media_review/_delete_form.html.twig') }}
{% endblock %}
