<div class="row my-3">
    {% for media in medias %}
        <a href="{{ path('app_home_show_medias', {'id': media.id}) }}"
           class="text-decoration-none col-sm-{{ colSm|default(6) }} col-lg-{{ colMd|default(4) }}">
            <div class="custom-card">
                <img class="card-img" src="{{ asset(media.image ) }}" alt="{{ media.name }}">
                <div class="text-light  d-flex flex-column justify-content-evenly p-3 align-items-center">
                    <p class="text-center h6">{{ media.name }}</p>
                    <p class="mt-3 font-size-1">{{ media.description|u.truncate(100,'...') }}</p>
                    <p>
                        ⏱️ {{ media.duration|date('H\\hi\\ms\\s') }}
                        📆 {{ media.releaseDate ? media.releaseDate|date('Y') : '' }} </p>
                </div>
            </div>
        </a>
    {% else %}
        <p>Aucun Médias pour le moment</p>
    {% endfor %}
</div>
